<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">
        <img src="/favicon.png"/>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            {% for item in site.data.navigation %}
            <li class="nav-item {% if page.url == item.link or page.activeNav == item.name %}active{% endif %}">
                <a class="nav-link" href="{{item.link}}">{{item.name}}</a>
            </li>
            {% endfor %}

            <li>
                <a target="_blank" href="https://www.facebook.com/cotswolddance/" class="fa fa-facebook"></a>
                <a target="_blank" href="https://www.instagram.com/wantsummorris/" class="fa fa-instagram"></a>
            </li>
        </ul>
    </div>
</nav>