---
title: "Wantsum Morris: Hop Hoodening Dance Sides"
layout: "hophoodening"
includeMapLibrary: true
activeNav: "Hop Hoodening"
---

<p>Everyone is welcome to attend the Cathedral service and to enjoy the skilful
    presentations of dancing around the city. Give thanks for the wonder of beer!</p>

<h3>Schedule</h3>

<dl class="row">
    <dt class="col-sm-2">10.50</dt>
    <dd class="col-sm-10">
        <div>Procession within the Cathedral Precincts into the Cathedral.</div>
        <div>Led by the Hop Queen in her hop bower accompanied by her Princesses.</div>
    </dd>
    <dt class="col-sm-2">11.00</dt>
    <dd class="col-sm-10">
        <div>Cathedral Service of Celebration and Blessing of the Hops.</div>
        <dip>Attended by the Lord Mayor of Canterbury.</dip>
        <div>This year Rabble, our guests from Lenham, will dance during the service.</div>
    </dd>
    <dt class="col-sm-2">11.45</dt>
    <dd class="col-sm-10">
        <div>Dancing display in the Precincts.</div>
        <div>By all the attendant Morris sides.</div>
        <div>Sampling of Canterbury Cathedral Ale.</div>
    </dd>
    <dt class="col-sm-2">12.15-13.45</dt>
    <dd class="col-sm-10">
        <div>The various Morris sides may be seen dancing around the city centre while the Hop Queen and
            her
            Princesses distribute blessed hops to the good people of Canterbury.
        </div>

        <div>There are three tours:</div>
        <dl class="row">
            <dt class="col-sm-3 tour-1">Wild Western</dt>
            <dd class="col-sm-9">
                <div>12.20 - Outside the Marlowe Theatre</div>
                <div>13.05 - The Black Griffin Pub</div>
                <div class="tour-1">Featuring: Headcorn Morris, East Kent Morris, Loose Women</div>
            </dd>
            <dt class="col-sm-3 tour-2">Central Heartlands</dt>
            <dd class="col-sm-9">
                <div>12.20 - High Street, head of Guildhall Street</div>
                <div>13.05 - Corner of Orange Street & Sun Street</div>
                <div class="tour-2">Featuring: Oyster Morris, Kettle Bridge Clogs, Dead Horse Morris and the Broomdashers</div>
            </dd>
            <dt class="col-sm-3 tour-3">Far Eastern</dt>
            <dd class="col-sm-9">
                <div>12.15 - Outside the Cathedral Shop</div>
                <div>13.00 - St. George's Tower</div>
                <div class="tour-3">Featuring: The Hop Queen and Princesses, Rabble, Offcumduns, Wantsum Morris Men</div>
            </dd>
        </dl>
    </dd>
    <dt class="col-sm-2">14.45</dt>
    <dd class="col-sm-10">
        <div>Procession up the High Street.</div>
        <div>From Best Lane to Rose Square.</div>
        <div>Again led by the Hop Queen in her hop bower accompanied by her Princesses.</div>
    </dd>
    <dt class="col-sm-2">15.00</dt>
    <dd class="col-sm-10">
        <div>Massed Display of Dancing in Rose Square.</div>
        <div>By all the attendant Morris sides until 4pm.</div>
    </dd>
</dl>

<div id="mapid" style="height: 400px;"></div>

<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>

<script>
    var mymap = L.map('mapid');
    mymap.fitBounds([[51.276913, 1.079324], [51.280386, 1.084495]]);

    var wantsumIcon = L.icon({
        iconUrl: '/favicon.png',
        iconSize: [28, 38],
        iconAnchor: [14, 38],
        popupAnchor: [0, -40]
    });

    {% for procession in site.data.hop-hoodening-processions %}
        var processionPolyline = L.polyline([]).addTo(mymap);
        {% for point in procession.points %}
            processionPolyline.addLatLng(L.latLng({{point.lat}}, {{point.lon}}));
            {% if point.marker %}
                L.marker([{{point.lat}}, {{point.lon}}]).addTo(mymap)
                    .setIcon({{point.marker.icon}})
                    .bindPopup("{{point.marker.popup}}");
            {% endif %}
        {% endfor %}
    {% endfor %}

    {% for point in site.data.hop-hoodening-stands %}
        L.marker([{{point.lat}}, {{point.lon}}]).addTo(mymap)
            .setIcon({{point.icon}})
            .bindPopup("{{point.popup}}");
    {% endfor %}

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox.streets'
    }).addTo(mymap);

</script>