---
title: "Wantsum Morris: Hop Hoodening Inroduction"
layout: "hophoodening"
activeNav: "Hop Hoodening"
heading: "Hop Hoodening Ale"
includeMapLibrary: true
---

<div class="row justify-content-center">
    <div class="col-10">
        <img class="img-fluid"
             src="/images/hop-hoodening-ale.jpg"/>
    </div>
</div>

<div class="row justify-content-center align-items-center">
    <div class="col-6">
        <p>Look out for this special Pale Ale brewed with local Hops by our namesake <a
                href="http://www.wantsumbrewery.co.uk/" target="_blank">Wantsum Brewery</a> to celebrate the
            Festival. We'll certainly be enjoying it on the day.</p>
    </div>
    <div class="col-6 col-sm-4 col-md-6 text-center">
        <a href="http://www.wantsumbrewery.co.uk/" target="_blank">
            <img class="img-fluid"
                 style="max-height: 250px"
                 src="/images/WantsumBreweryLogo.png"
                 alt="Wantsum Brewery Logo"
            />
        </a>
    </div>
</div>

<p>Pubs known to have ordered Hop Hoodening Ale include:</p>
{% for pub in site.data.hop-hoodening-ale-pubs-2019 %}
<h4>{{pub.name}}</h4>

{% for href in pub.href %}
<p><a href="{{href}}" target="_blank">{{href}}</a></p>
{% endfor %}

{% endfor %}

<div id="mapid" style="height: 400px;"></div>

<div class="row justify-content-center">
    <div class="col-10">
        <img class="img-fluid"
             style="max-height: 300px"
             src="/images/wantsum-drink-beer.jpg"/>
    </div>
</div>

<p>For more information: <a href="mailto:hophoodening@gmail.com">hophoodening@gmail.com</a></p>

<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
        integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
        crossorigin=""></script>

<script>
    var mymap = L.map('mapid');
    mymap.fitBounds([[51.371756, -0.803697], [51.163245, 1.443238]]);

    {% for pub in site.data.hop-hoodening-ale-pubs-2019 %}
    L.marker([{{pub.lat}}, {{pub.lon}}]).addTo(mymap)
    .bindPopup("{{pub.name}}");
    {% endfor %}

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox.streets'
    }).addTo(mymap);

</script>