{% include headerwithmap.html %}
<section class="event-panel event-into">
    <h1>Hop Hoodening: An East Kent Tradition Continues</h1>

    <nav class="nav justify-content-between">
        <a class="nav-link text-muted" href="/hop-hoodening/test">Introduction</a>
        <a class="nav-link text-muted" href="/hop-hoodening/dance-sides">Dance Sides</a>
        <a class="nav-link text-muted" href="/hop-hoodening/schedule">Schedule and Maps</a>
        <a class="nav-link text-muted" href="/hop-hoodening/history">History</a>
        <a class="nav-link text-muted" href="/hop-hoodening/ale">Hop Hoodening Ale</a>
    </nav>
    <div class="text-center">
        <img class="hop-image" src="/images/hops-image.png"/>
        <img class="hop-image" src="/images/hops-image.png"/>
        <img class="hop-image" src="/images/hops-image.png"/>
    </div>
    {{ content }}
</section>
{% include footer.html %}
