---
title: "Wantsum Morris: Events"
layout: "default"
includeMapLibrary: true
---
<section class="event-panel event-intro">
    <h1>Events</h1>
    <div class="container">
        <dl class="row">
            {% for event in site.data.events %}
            <dt class="col-sm-2">{{event.date}} {{event.time}}</dt>
            <dd class="col-sm-10">
                <div><strong>{{event.title}}</strong></div>
                <div>{{event.location}}</div>
                {% for href in event.href %}
                <div><a href="{{href}}" target="_blank">{{href}}</a></div>
                {% endfor %}
                <div>{{event.description}}</div>
                {% for image in event.image %}
                <img class="img-fluid" src="/images/{{image}}"/>
                {% endfor %}
            </dd>
            {% endfor %}
        </dl>
    </div>

    <h1>Past Events</h1>
    <div class="container">
        <dl class="row">
            {% for event in site.data.past-events %}
            <dt class="col-sm-2">{{event.date}} {{event.time}}</dt>
            <dd class="col-sm-10">
                <div><strong>{{event.title}}</strong></div>
                <div>{{event.location}}</div>
                {% for href in event.href %}
                <div><a href="{{href}}" target="_blank">{{href}}</a></div>
                {% endfor %}
                {% for image in event.image %}
                <img class="img-fluid" src="/images/{{image}}"/>
                {% endfor %}
            </dd>
            {% endfor %}
        </dl>
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    With East Kent Morris at the Lydden Bell - 8pm on Wednesday 26th June 2019
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    With Rabble Morris at the Red Lion, Baddlesmere - 8pm on Tuesday 25th June 2019
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <img class="d-block img-fluid" src="/images/minster-abbey-2019.png"
                         alt="The Minster Abby Summer Fair - 1pm on Saturday 22nd June"/>
                    The Minster Abby Summer Fair - 1pm on Saturday 22nd June
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <a target="_blank" href="https://www.facebook.com/events/2148212292110653/">
                        <img class="d-block img-fluid" src="/images/practice-season-2018.png"/>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <a href="/boxing-day">
                        <img class="d-block img-fluid" src="/images/boxingday-2018.png"/>
                    </a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <a target="_blank" href="https://www.facebook.com/events/2134199560129491/">
                        <img class="d-block img-fluid" src="/images/wantsum-brewery-2018-10-shield2.png"/>
                    </a>
                    <p class="text-center">
                        <a target="_blank" href="http://wantsumbrewery.co.uk/events.html">Wantsum Brewery Events
                            Website</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card">
                    <a target="_blank" href="https://www.facebook.com/events/277296009789847/">
                        <img class="d-block img-fluid" src="/images/wantsum-tenterden-2018.png"/>
                    </a>
                    <p class="text-center">
                        <a target="_blank" href="http://www.tenterdenfolkfestival.org.uk/">Tenterden Folk Festival
                            Website</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card">
                    <a href="/hop-hoodening">
                        <img class="d-block img-fluid" src="/images/hop-hoodening-poster.png"/>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <p>For more information contact <a href="mailto:bagman@wantsum-morris.org.uk">bagman@wantsum-morris.org.uk</a></p>
    <p>See our <a href="https://www.facebook.com/cotswolddance/events" target="_blank">events page on Facebook</a>.</p>

</section>